PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=iman_mcs
JWT_SECRET=your_jwt_secret_key
FRONTEND_URL=http://localhost:5173

# AWS SES Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=us-east-1
EMAIL_FROM=noreply@yourdomain.com
EMAIL_FROM_NAME="IMAN MCS"
